<template>
  <header class="app-header">
    <b-navbar toggleable="md" type="light">
      <b-nav-toggle target="nav_collapse" @click="emitCollapseSidebar"></b-nav-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item href="#/dash"><i class="ti-home"></i></b-nav-item>
          <b-nav-item href="#" v-b-modal.searchFormModal><i class="ti-search"></i></b-nav-item>
          <b-modal id="searchFormModal" hide-footer class="idb-search-modal" size="lg">
            <search-form></search-form>
          </b-modal>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav is-nav-bar class="ml-auto">
          <b-nav-item class="zoom-out" href="#" @click="toggleScreenFull"><i :class="{'ti-desktop': !fullScreenView, 'ti-fullscreen': fullScreenView}"></i></b-nav-item>
          <b-nav-item-dropdown right no-caret class="custom-dropdown">
            <template slot="button-content">
              <i class="ti-layout-grid3"></i>
            </template>
            <b-dropdown-header class="bg-success text-white">Quick Links</b-dropdown-header>
            <b-dropdown-item to="/pages/pricing">
              <div class="icon-area">
                <i class="ti-money"></i>
              </div>
              <small>Pricing</small>
            </b-dropdown-item>
            <b-dropdown-item to="/session/login">
              <div class="icon-area">
                <i class="ti-lock"></i>
              </div>
              <small>Lock Screen</small>
            </b-dropdown-item>
            <b-dropdown-item to="/pages/gallery">
              <div class="icon-area">
                <i class="ti-gallery"></i>
              </div>
              <small>Gallery</small>
            </b-dropdown-item>
            <b-dropdown-item to="/editor/quill-editor">
              <div class="icon-area">
                <i class="ti-pencil-alt"></i>
              </div>
              <small>Editor</small>
            </b-dropdown-item>
            <b-dropdown-item to="/icons/themify">
              <div class="icon-area">
                <i class="ti-flag-alt"></i>
              </div>
              <small>Themify Icon</small>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown right no-caret>
            <template slot="button-content">
              <i class="fa fa-bell-o faa-ring animated-hover faa-slow"></i>
              <b-badge pill variant="success" class="badge-sm badge-top-right fa-notify">1</b-badge>
            </template>
            <b-dropdown-header class="bg-warning text-white">Notifications</b-dropdown-header>
            <b-dropdown-item href="#" class="mb-10">
              <div class="media">
                <div class="d-flex pos-relative mr-20">
                  <img src="/static/img/user-1.jpg" class="rounded-circle" width="60" height="60">
                  <span class="badge badge-danger badge-label-sm badge-thumb-top-right badge-pill fa-notify">&nbsp;</span>
                </div>
                <div class="media-body pt-10">
                  <h6 class="fw-bold">John Doe</h6>
                  <p class="m-0 small">Hey, We have a meeting planned at the end of the day.</p>
                </div>
              </div>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item @click="toggleRightSidebar">
            <i class="ti-view-list-alt"></i>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <right-sidebar :sidebarOpen="rightSidebar"></right-sidebar>
  </header>
</template>

<script>
import SearchForm from "./SearchForm.vue";
import RightSidebar from "./RightSidebar.vue";
import screenfull from "screenfull";
import EventBus from "../../lib/eventBus";
import "vue-class-component";

export default {
  data: function() {
    return {
      rightSidebar: false,
      fullScreen: false
    };
  },
  computed: {
    fullScreenView: function() {
      return this.fullScreen;
    }
  },
  components: {
    SearchForm,
    RightSidebar
  },
  methods: {
    toggleRightSidebar() {
      this.rightSidebar = !this.rightSidebar;
    },
    toggleScreenFull() {
      this.fullScreen = !screenfull.isFullscreen;
      screenfull.toggle();
    },
    emitCollapseSidebar() {
      EventBus.$emit("collapsedSidebar", this.collapsedSidebar);
    }
  }
};
</script>
