<template>
  <div id="dashboard">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-3 b-50">
        <notification />
        <div class="idb-block mb-30 dash-card">
          <div class="idb-block-content">
            <div class="d-flex justify-content-between mb-20">
              <h5 class="m-0">Aniversariantes do mês</h5>
            </div>
            <div class="idb-block-content p-0">
              <div class="table-responsive">
                <span v-if="this.aniversariantes === null">Nenhum aniversariante.</span>
                <table class="table table-no-border table-middle" v-else>
                  <tbody>
                    <tr v-for="(aniv, index) in this.aniversariantes" :key="index">
                      <td>
                        <span class="fw-bold">( {{getDay(aniv)}} )</span>
                        {{aniv.nome}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3 b-50">
        <div class="idb-block mb-30 dash-card">
          <div class="idb-block-content">
            <div class="d-flex justify-content-between mb-20">
              <h5 class="m-0">Avaliações vencidas</h5>
            </div>
            <div class="row no-gutters">
              <div class="table-responsive">
                <span v-if="this.proximasAvaliacoes === null">Nenhuma avaliação vencida.</span>
                <table class="table table-no-border table-middle" v-else>
                  <tbody>
                    <tr v-for="(av, index) in this.proximasAvaliacoes" :key="index">
                      <td>
                        <span class="fw-bold">( {{frontEndDateFormat(av.dataavaliacao)}} )</span>
                        {{av.aluno}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <graficoPorSexo />
    </div>
  </div>
</template>

<script>
import cookies from "js-cookie";
import * as http from "../resources/http-backend";
import moment from "moment";
import vdataoutput from "../components/VDataOutput.vue";
import graficoPorSexo from "./graficos/GraficoPorSexo";
import notification from "../components/VNotification.vue"

export default {
  name: "dashboard",
  components: {vdataoutput, graficoPorSexo, notification},
  data() {
    return {
      aniversariantes: Object,
      proximasAvaliacoes: Object
    };
  },
  methods: {
    getDay(aluno) {
      if (aluno !== null) {
        aluno.datanascimento = aluno.datanascimento.replace("Z", "");
        return moment(aluno.datanascimento).format("DD");
      }
    },
    frontEndDateFormat(date) {
      return moment(date).format("DD/MM/YYYY");
    },
    getPersonalId() {
      return cookies.getJSON("personalLogado").personalid;
    }
  },
  beforeMount() {
    var self = this;
    http.get(`/personal/${this.getPersonalId()}/alunos/aniversariantes/`).then(
      response => {
        self.aniversariantes = response.data;
      },
      err => {
        console.log(err);
      }
    );

    http
      .get(`/personal/${this.getPersonalId()}/alunos/1/avaliacao/vencidas`)
      .then(
        response => {
          self.proximasAvaliacoes = response.data;
        },
        err => {
          console.log(err);
        }
      );
  }
};
</script>