<template>
    <div id="alunos-cadastrar">
        <b-form @submit.prevent="validateBeforeSubmit">
          <div class="card-block">
          <b-card-group deck>
              <b-card class="mb-30" header="Informações pessoais" header-tag="header" footer-tag="footer">
                <vinput id="nome" label="Nome" placeholder="Nome do aluno" v-model="aluno.nome" v-focus
                  maxlength="36" validations="required|min:3" />
                <vdate id="dataNascimento" label="Data de Nascimento" v-model="aluno.dataNascimento" required="true" />
                <vradiobutton label="Sexo" :options="genero" v-model="aluno.sexo" validations="required" name="Sexo" />
                <vnumber id="altura" label="Altura" placeholder="Altura do aluno" v-model="aluno.altura"
                  maxlength="5" validations="min_value:0.01" />
              </b-card>
          </b-card-group>
          <b-card-group deck>
            <b-card class="mb-30" header="Contatos" header-tag="header" footer-tag="footer">
              <vemail id="email" name="email" label="Email" placeholder="Email" v-model="aluno.contato.email"
                maxlength="36" validations="required" />
              <vinput id="celular" label="Celular" placeholder="DDD + Número" v-model="aluno.contato.celular" type="tel" 
                maxlength="11" validations="required|min:11|" />
            </b-card>
          </b-card-group>
        </div>
        <div>
          <vbutton label="Cadastrar" type="submit" :is-loading="form.isLoading" /> 
          <b-button variant="btn btn-secondary" @click="$router.go(-1)">Cancelar</b-button>
        </div>
        </b-form>
    </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import vinput from '../../components/VInput.vue'
import vnumber from '../../components/VNumber.vue'
import vemail from '../../components/VEmail.vue'
import message from '../../components/VMessage.vue'
import vradiobutton from '../../components/VRadioButton.vue'
import vbutton from '../../components/VButton.vue'
import vdate from '../../components/VDate.vue'
import cookies from 'js-cookie'
export default {
  name: 'alunos-cadastrar',
  components: {message, vinput, vdate, vnumber, vemail, vbutton, vradiobutton},
  data () {
    return {
      aluno: {
        nome: '',
        dataNascimento: '',
        sexo: '',
        contato: {
          email: '',
          celular: ''
        },
        personalid: cookies.getJSON('personalLogado').personalid
      },
      form: {
        isLoading: false
      },
      genero: [
        {text: 'Masculino', value: 'Masculino'},
        {text: 'Feminino', value: 'Feminino'}
      ]
    }
  },
  methods: {
    onSubmit (event) {
      var self = this
      this.isLoading()
      this.aluno.dataNascimento = this.formataDataPadrao(this.aluno.dataNascimento)
      http.post(`/personal/${this.aluno.personalid}/alunos/`, JSON.stringify(this.aluno))
        .then(resp => {
          self.$router.push({
            path: '/anamnese-avaliacao',
            query: {alunoid: resp.data}
          })
        }, () => {
          event.stopPropagation()
          self.isLoading(false)
        });
    },
    isLoading(loading = true) {
      this.form.isLoading = loading;
    },
    formataDataPadrao(date) {
      return date + 'T00:00:00Z'
    },
    validateBeforeSubmit(event) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.onSubmit(event)
          return;
        }
      });
    }
  }
}
</script>