<template>
  <div class="user-profile-wrapper">
    <div class="row" v-if="aluno.avaliacao">
      <div class="col-sm-12 col-md-12 d-lg-full">
        <div class="profile-sidebar idb-block">
          <div class="user-thumb text-center p-20">
            <profile :aluno="aluno.aluno" :showUpload="usuarioLogado" @file-selected="abrirPreview" />
          </div>
          <list-group>
            <list-group-item>
              <div>Objetivo :</div>
              <div>
                {{aluno.avaliacao.objetivo}}
              </div>
            </list-group-item>
            <list-group-item>
              <div>Data avaliação :</div>
              <div>
                <vdataoutput :value="aluno.avaliacao.dataavaliacao" />
              </div>
            </list-group-item>
            <list-group-item>
              <div class="address-block p-20">
                <address>
                  <span>
                    <i class="ti-user mr-15"></i>{{aluno.aluno.nome}}
                  </span>
                  <span>
                    <i class="ti-comments mr-15"></i>
                      <b-link :href="`mailto:${aluno.contato.email}`">{{aluno.contato.email}}</b-link>
                  </span>
                  <span>
                    <i class="ti-mobile mr-15"></i>
                    <phoneoutput :value="aluno.contato.celular" class-css="mr-10" />
                    <b-link title="Compartilhar avaliação no WhatApp" :href="`https://wa.me/55${aluno.contato.celular}/?text=${defineWhatAppLink()}`" >
                      <img src="/static/img/whatsapp-icon.png" class="figure-img"/>
                    </b-link>
                  </span>
                </address>
              </div>
            </list-group-item>
            <list-group-item>
              <b-button variant="success">
                <i class="ti-layers mr-10"></i> 
                  <router-link :to="{path:'/avaliacao/comparar', query:{
                    alunoid: this.$route.query.alunoid,
                    personalId: this.$route.query.personalid}
                    }">Comparar avaliação anterior</router-link>
              </b-button>
            </list-group-item>
          </list-group>
        </div>
      </div>
      <v-content title="Personal responsável">
        <avatar :value="personal" path="perfil" width="55" height="55" classCss="mr-10"/>
        <span class="fw-bold">{{personal.nome}}</span> - 
        <b-link :href="`https://wa.me/55${personal.celular}}`">
          <phoneoutput :value="personal.celular" class-css="mr-15" /> <i class="ti-new-window mr-15"></i>
        </b-link>
      </v-content>
      <v-content title="Gráfico">
        <div class="pie-chart">
          <piechart :width="300" :height="200" 
            :massamagra="aluno.adipometria.massamagra" 
            :massagorda="aluno.adipometria.massagorda"
            :percentualgordura="aluno.adipometria.percentualgordura" />
        </div>
      </v-content>
      <v-content title="Adipometria">
        <list-group>
          <list-group-item>
            <div>Situação Percentual gordura :</div>
            <div>
              <vbadgepercgordura :value="aluno.situacaopercentualgordura" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Percentual gordura :</div>
            <div>
              <vlabel :value="aluno.adipometria.percentualgordura" suffix="%" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Massa magra :</div>
              <div>
                <vlabel :value="aluno.adipometria.massamagra" suffix="%" />
              </div>
          </list-group-item>
          <list-group-item>
            <div>Massa gorda :</div>
            <div>
              <vlabel :value="aluno.adipometria.massagorda" suffix="kg" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Peso :</div>
            <div>
              <vlabel :value="aluno.adipometria.peso" suffix="kg" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Subescapular :</div>
            <div>
              <vlabel :value="aluno.adipometria.subescapular" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Triceps :</div>
            <div>
              <vlabel :value="aluno.adipometria.triceps" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Peitoral :</div>
            <div>
              <vlabel :value="aluno.adipometria.peitoral" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Axilar média :</div>
            <div>
              <vlabel :value="aluno.adipometria.axilarmedia" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Suprailíaca :</div>
            <div>
              <vlabel :value="aluno.adipometria.suprailica" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Abdominal :</div>
            <div>
              <vlabel :value="aluno.adipometria.abdominal" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Femural médio :</div>
            <div>
              <vlabel :value="aluno.adipometria.femuralmedio" suffix="cm" />
            </div>
          </list-group-item>
        </list-group>
      </v-content>
      <v-content title="Perimetria">
        <list-group>
          <list-group-item>
            <div>Ombro :</div>
            <div>
              <vlabel :value="aluno.perimetria.ombro" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Tronco :</div>
            <div>
              <vlabel :value="aluno.perimetria.tronco" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Cintura :</div>
            <div>
              <vlabel :value="aluno.perimetria.cintura" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Abdomên :</div>
            <div>
              <vlabel :value="aluno.perimetria.abdomen" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Quadril :</div>
            <div>
              <vlabel :value="aluno.perimetria.quadril" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Braço esquerdo :</div>
            <div>
              <vlabel :value="aluno.perimetria.bracoesquerdo" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Braço direito :</div>
            <div>
              <vlabel :value="aluno.perimetria.bracodireito" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Braço esquerdo contraído :</div>
            <div>
              <vlabel :value="aluno.perimetria.bracoesquerdocontraido" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
             <div>Braço direito contraído :</div>
              <div>
                <vlabel :value="aluno.perimetria.bracodireitocontraido" suffix="cm" />
              </div>
          </list-group-item>
          <list-group-item>
            <div>Antebraço direito :</div>
            <div>
              <vlabel :value="aluno.perimetria.antebracodireito" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Antebraço esquerdo :</div>
            <div>
              <vlabel :value="aluno.perimetria.antebracoesquerdo" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Coxa superior esquerda :</div>
            <div>
              <vlabel :value="aluno.perimetria.coxasuperioresquerda" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Coxa superior direita :</div>
            <div>
              <vlabel :value="aluno.perimetria.coxasuperiordireita" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Coxa medial esquerda :</div>
            <div>
              <vlabel :value="aluno.perimetria.coxamedialesquerda" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Coxa medial direita :</div>
            <div>
              <vlabel :value="aluno.perimetria.coxamedialdireita" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
             <div>Panturrilha direita :</div>
            <div>
              <vlabel :value="aluno.perimetria.panturrilhadireita" suffix="cm" />
            </div>
          </list-group-item>
          <list-group-item>
            <div>Panturrilha esquerda :</div>
            <div>
              <vlabel :value="aluno.perimetria.panturrilhaesquerda" suffix="cm" />
            </div>
          </list-group-item>
        </list-group>
      </v-content>
    </div>
    <div>
    </div>
  </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import avatar from '../../components/VAvatar.vue'
import cookies from 'js-cookie'
import profile from '../../components/VProfile.vue'
import phoneoutput from '../../components/VPhoneOutput.vue'
import vdataoutput from '../../components/VDataOutput.vue'
import vbadgepercgordura from '../../components/VBadgePercGordura.vue'
import vlabel from '../../components/VLabelCurrency.vue'
import vContent from '../../components/content/VContent.vue'
import listGroup from '../../components/list-group/ListGroup.vue'
import listGroupItem from '../../components/list-group-item/ListGroupItem.vue'
import piechart from "./PieChart";
export default {
  name: 'user-profile-wrapper',
  components: {profile, vlabel, vdataoutput, phoneoutput, vbadgepercgordura, piechart, avatar, vContent, listGroup, listGroupItem},
  data() {
    return {
      aluno: self,
      personalId: this.$route.query.personalid,
      alunoId: this.$route.query.alunoid,
      usuarioLogado: cookies.getJSON('personalLogado')
    }
  },
  methods: {
    defineWhatAppLink() {
      return `Veja%20sua%20avalia%C3%A7%C3%A3o%20em%20http://joinpersonal.com.br/?%23/alunos/Detalhar?alunoid%3D${this.alunoId}%26personalid%3D${this.personalId}`
    },
    abrirPreview(file) {
      this.$refs.previewModal.show()
      this.url = URL.createObjectURL(file)
    }
  },
  beforeMount() {
    var self = this
    http.get(`/personal/${this.personalId}/alunos/${this.alunoId}/perfil/`)
      .then(resp => {
        self.aluno = resp.data
      }, err => {
      console.log(err)
    })
  },
  beforeCreate() {
    var self = this
    http.get(`/personal/${this.$route.query.personalid}/perfil`)
      .then(resp => {
        self.personal = resp.data
      }, err => {
        console.log(err)
    })
  }
}
</script>
