<template>
	<div id="alunos-lista">
		<div class="user-list-wrapper">
      <div v-if="this.alunos.length == 0">
        <message>
          Você ainda não tem alunos. <router-link to="/alunos/Cadastrar">Cadastre seu primeiro aluno agora</router-link>.
        </message>
      </div>
			<div class="row">   
				<div :id="`aluno-container-${index}`" class="col-sm-12 col-md-6 col-xl-5 d-lg-half-block" v-for="(aluno,index) in this.alunos" :key="index"
          v-show="aluno.Ativo">
					<div class="idb-block text-center">
            <div class="idb-block-title">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-self-center">
                </div>
                <div class="d-flex align-self-center idb-contextual-link">
                  <b-dropdown variant="link" class="no-caret-icon">
                    <template slot="button-content">
                      <i class="ti-more-alt"></i>
                    </template>
                    <b-dropdown-item href="#" v-b-modal.modalExaluno @click="selecionarAluno(aluno)"><i class="ti-trash"></i> Marcar como ex-aluno</b-dropdown-item>
                  </b-dropdown>
                </div>
              </div>
            </div>
						<profile :aluno="aluno" />
						<div class="idb-block-footer p-0 border-0">
              <div role="group" class="btn-group-justified btn-group">
                <button type="button" class="btn btn-outline-secondary">
									<i class="ti-check-box mr-10"></i> 
									<router-link :to="{path:'/anamnese/Detalhar', 
										query:{alunoid: aluno.id, personalid: personalId}}">Anamnese <span class="badge badge-success badge-style">Novo</span></router-link>
								</button>
              </div>
							<div role="group" class="btn-group-justified btn-group">
								<button type="button" class="btn btn-outline-secondary">
									<i class="ti-eye mr-10"></i> 
									<router-link :to="{path:'/alunos/Detalhar', 
										query:{alunoid: aluno.id, personalid: personalId}}">Informações</router-link>
								</button>
								<button type="button" class="btn btn-outline-secondary">
									<i class="ti-comments mr-10"></i> <router-link :to="{path:'/anamnese-avaliacao', query:{alunoid: aluno.id}}">Nova Avaliação</router-link>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
  		</div>
    <!-- Modal ex alunos -->
    <b-modal id="modalExaluno" ref="modalExaluno" title="Marcar como ex-aluno">
      <message>
        Deseja marcar o aluno <span class="fw-bold">{{this.alunoSelecionado.nome}}</span> como ex-aluno?
        Ainda será possível visualizá-lo no menu <span class="font-italic">Aluno > Ex-alunos</span>.
      </message>
      <p class="my-4">Deseja continuar?</p>
      <div slot="modal-footer">
        <div>
          <b-button id="cancel" variant="btn btn-danger btn-sm" @click="hideModal">Cancelar</b-button>
          <b-button id="submit" type="submit" variant="btn btn-success btn-sm" @click="submitExAluno">OK</b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import cookies from 'js-cookie'
import profile from '../../components/VProfile.vue'
import message from '../../components/VMessage.vue'
export default {
	name: 'alunos-lista',
	components: {profile, message},
	data () {
		return {
			alunos: [],
      personalId: cookies.getJSON('personalLogado').personalid,
      alunoSelecionado: self
		}
  },
  methods: {
    selecionarAluno(aluno) {
      this.alunoSelecionado = aluno
    },
    removerElemento(aluno) {
      for (var i = this.alunos.length; i--;) {
          if (this.alunos[i] === aluno) {
              this.alunos.splice(i, 1);
          }
      }
    },
    submitExAluno() {
      this.alunoSelecionado.ativo = false
      http.post(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.alunoSelecionado.id}/ativo`, JSON.stringify(this.alunoSelecionado))
        .then(resp => {
          this.removerElemento(this.alunoSelecionado)
          this.hideModal()
        }, error => {
          console.log(error)
        });
    },
    hideModal() {
      this.$refs.modalExaluno.hide()
    }
  },
	beforeMount() {
		var self = this
		http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos`)
			.then(function (response) {
      self.alunos = response.data
		}).catch(function (err) {
			console.log(err)
		})
  }

}
</script>