<template>
	<div id="alunos-lista">
		<div class="user-list-wrapper">
      <div v-if="this.alunos.length == 0">
        <message>
          Você não tem ex-alunos.
        </message>
      </div>
			<div class="row">   
				<div :id="`aluno-container-${index}`" class="col-sm-12 col-md-6 col-xl-3 d-lg-half-block" v-for="(aluno,index) in this.alunos" :key="index"
          v-show="!aluno.Ativo">
					<div class="idb-block text-center">
						<profile :aluno="aluno" />
						<div class="idb-block-footer p-0 border-0">
							<div role="group" class="btn-group-justified btn-group">
								<button type="button" class="btn btn-outline-secondary" v-b-modal.modalAtivarAluno @click="selecionarAluno(aluno)">
                    <a href="#">
                      <i class="material-icons mr-10">done</i>
                      <span style="position:relative;bottom:5px;">Ativar aluno</span>
                    </a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
  		</div>
    <!-- Modal ex alunos -->
    <b-modal id="modalAtivarAluno" ref="modalAtivarAluno" title="Marcar como aluno regular">
      <message>
        O aluno <span class="fw-bold">{{this.alunoSelecionado.nome}}</span> será marcado como aluno regular.
      </message>
      <p class="my-4">Deseja continuar?</p>
      <div slot="modal-footer">
        <div>
          <b-button id="cancel" variant="btn btn-danger btn-sm" @click="hideModal">Cancelar</b-button>
          <b-button id="submit" type="submit" variant="btn btn-success btn-sm" @click="submitExAluno">OK</b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import cookies from 'js-cookie'
import profile from '../../components/VProfile.vue'
import message from '../../components/VMessage.vue'
export default {
	name: 'alunos-lista',
	components: {profile, message},
	data () {
		return {
			alunos: [],
      personalId: cookies.getJSON('personalLogado').personalid,
      alunoSelecionado: self
		}
  },
  methods: {
    selecionarAluno(aluno) {
      this.alunoSelecionado = aluno
    },
    removerElemento(aluno) {
      for (var i = this.alunos.length; i--;) {
          if (this.alunos[i] === aluno) {
              this.alunos.splice(i, 1);
          }
      }
    },
    submitExAluno() {
      this.alunoSelecionado.ativo = true
      http.post(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.alunoSelecionado.id}/ativo`, JSON.stringify(this.alunoSelecionado))
        .then(resp => {
          this.removerElemento(this.alunoSelecionado)
          this.hideModal()
        }, error => {
          console.log(error)
        });
    },
    hideModal() {
      this.$refs.modalAtivarAluno.hide()
    }
  },
	beforeMount() {
    var self = this
		http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/alunosinativos`)
			.then(function (response) {
      self.alunos = response.data
		}).catch(function (err) {
			console.log(err)
		})
  }

}
</script>