<template>
  <div class="session-wrapper">
    <div class="container container-full">
      <div class="row session-dark-block">
        <div class="col-sm-12 col-md-6">
          <div class="session-block">
            <div id="vue-container" class="text-center">
              <h2 class="text-uppercase mb-20 session-title">Login</h2>
              <div class="mb-30">
                <img class="img-fluid rounded-circle" width="110" height="110" :src="fotoPersonal()" />
              </div>
            </div>
            <div id="form-login" class="form-wrapper">
              <message id="mainMessage" type="alert" v-if="showMensagem">
                {{ descricaoMensagem }}
              </message>
              <b-form @submit.prevent="validateBeforeSubmit">
                <b-form-group id="exampleInputGroup1">
                  <b-form-input id="login" name="login" class="custom-field form-control-lg" type="text" v-model="form.login" placeholder="Usuário"
                    data-vv-as="Usuário" v-focus
                    v-validate="'required'" />
                  <span style="color:red">{{ errors.first('login') }}</span>
                </b-form-group>
                <b-form-group id="exampleInputGroup2">
                  <b-form-input id="senha" name="senha" class="custom-field form-control-lg" type="password" v-model="form.senha" placeholder="Senha"
                    v-validate="'required'" data-vv-as="Senha">
                  </b-form-input>
                  <span style="color:red">{{ errors.first('senha') }}</span>
                </b-form-group>
                <div class="forgot-pwd mb-40">
                  <a href="javascript:;" class="text-danger small">Esqueceu a senha ?</a>
                </div>
                <vbutton label="Entrar" type="submit" :is-loading="form.isLoading" />
              </b-form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 px-50 py-70">
          <h2 class="mb-30">Não possui cadastro?</h2>
          <h4 class="mb-20">Sistema que conecta e aumenta a interação entre o Personal e seus alunos.</h4>
          <a class="btn btn-primary" href="javascript:;">CADASTRE-SE</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import message from '../../components/VMessage.vue'
import vbutton from '../../components/VButton.vue'
import * as constants from '../../js/constants/urls'
import cookies from 'js-cookie'
export default {
  name: 'form-login',
  components: {message, vbutton},
  data () {
    return {
      descricaoMensagem: '',
      showMensagem: false,
      form: {
        login: '',
        senha: '',
        isLoading: false
      },
      cropImg: ''
    }
  },
  methods: {
    onSubmit (event) {
      this.isLoading();
      var self = this
      http.post(`/login`, JSON.stringify(this.form))
        .then(resp => {
          cookies.set('personalLogado', resp.data)
          cookies.set('personalFoto', resp.data.personalid, { expires: 7 })
          self.$router.push('/dash')
        }, erro => {
          if (erro.response === undefined) {
            self.descricaoMensagem = 'Ops! O servidor parece estar fora. Entre em contato com o administrador.'
          } else {
            self.descricaoMensagem = 'E-mail informado não existe ou a senha está incorreta!'
          }
          self.showMensagem = true
          self.isLoading(false)
          event.stopPropagation()
        })
    },
    isLoading(loading = true) {
      this.form.isLoading = loading;
    },
    fotoPersonal() {
      let foto = cookies.get('personalFoto')
      if (foto === undefined) {
        return '/static/img/user-1.jpg'
      }
      return `${constants.BUCKET_FILES_FOLDER}/perfil/${foto}.jpg`
    },
    validateBeforeSubmit(event) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.onSubmit(event)
          return;
        }
      });
    }
  }
}
</script>