<template>
  
</template>

<script>
import cookies from 'js-cookie'
export default {
    data () {
        return {
        }
    },
    beforeCreate () {
        cookies.remove('personalLogado')
        this.$router.push('/')
    }
}
</script>