<template>
   <div class="sidebar-panel" v-if="usuarioLogado">
      <div class="toolbar">
         <div class="sidebar-logo-wrap">
            <div class="d-flex justify-content-between mb-20">
              <div class="align-item-center">
               <a href="index.html" class="site-logo"><img src="/static/img/joinpersonal-logo.png" class="img-fluid" alt="site logo" width="110" height="60"></a>
              </div>
               <div class="ham-icon align-item-center">
                 <button type="button" class="c-hamburger c-hamburger--rot" name="button" @click="emitCollapsedSidebar"  v-if="usuarioLogado">
                   <span class="ham-line"></span>
                 </button>
               </div>
            </div>
         </div>
         <div class="user-section d-flex justify-content-center">
            <div class="text-center">
              <div class="pos-relative d-block">
                <avatar :value="usuarioLogado" path="perfil" height="110" width="110" />
              </div>
               <b-dropdown variant="link" size="sm" :text="usuarioLogado.nome" class="admin-section">
                 <b-dropdown-item href="#">
                   <router-link to="/personal/perfil">
                      Perfil
                  </router-link></b-dropdown-item>
                 <!-- <b-dropdown-item href="#">Calendário</b-dropdown-item>
                 <b-dropdown-item href="#">Mensagens</b-dropdown-item>
                 <b-dropdown-item href="#">Atividades</b-dropdown-item> -->
                <b-dropdown-item href="#">
                  <router-link to="/logout">
                      Sair
                  </router-link>
                </b-dropdown-item>
               </b-dropdown>
            </div>
         </div>
      </div>
        <div class="idb-sidebar-nav">
            <div class="ps-container ps-theme-default">
              <nav class="navigation scroll-area">
                 <ul class="idb-nav list-unstyled list-hover-slide">
                   <template v-for="(menu, index) in sideBarLinks.routes">
                     <li class="nav-item" v-if="menu.child_routes!=null" :key="index">
                        <a href="#" class="nav-link">
                            <i :class="menu.menu_icon"></i>
                            <span class="menu-title">{{ menu.menu_title }}</span>
                            <span class="pull-right">
                                <i class="ti-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled sub-menu" @click="emitCollapsedSidebar">
                          <router-link :to="subMenu.path" tag="li" v-for="(subMenu, key) in menu.child_routes" :key="key">
                            <a>
                              <span class="dot"></span><span class="pull-right badge badge-success badge-style" v-if="subMenu.new">Novo</span>
                              <span>{{ subMenu.menu_title }}</span>
                            </a>
                          </router-link>
                        </ul>
                     </li>
                      <router-link :key="index" :to="menu.path" tag="li" class="nav-item" v-else>
                        <a class="nav-link">
                              <i :class="menu.menu_icon"></i>
                              <span class="menu-title" @click="emitCollapsedSidebar">{{ menu.menu_title }}</span>
                              <span class="pull-right badge badge-success badge-style" v-if="menu.new">Novo</span>
                        </a>
                      </router-link>
                   </template>
                 </ul>
              </nav>
            </div>
        </div>
   </div>
</template>

<script>
import $ from "jquery";
import sideBarLinks from "./menu.json";
import EventBus from "../../lib/eventBus";
import cookies from 'js-cookie'
import avatar from '../VAvatar.vue'

export default {
  name: "sidenav",
  data() {
    return {
      sideBarLinks: sideBarLinks,
      menuToggleClass: "",
      activeIndex: 0,
      collapsedSidebar: false,
      usuarioLogado: cookies.getJSON('personalLogado')
    };
  },
  components: {
    avatar
  },
  mounted() {
    $(".navigation .nav-item .nav-link").click(function(event) {
      event.preventDefault();
      $(this)
        .parent()
        .toggleClass("active open");
      if ($(".navigation .nav-item").hasClass("active open")) {
        $(".navigation .nav-item").removeClass("active open");
        $(this)
          .parent()
          .toggleClass("active open");
      }
    });
  },
  methods: {
    // method to emit collapsedSidebar event
    emitCollapsedSidebar() {
      this.collapsedSidebar = !this.collapsedSidebar;
      EventBus.$emit("collapsedSidebar", this.collapsedSidebar);
    }
  }
};
</script>

<style lang="scss">
.scroll-area {
  margin: auto;
  width: 100%;
  min-height: 100%;
}
</style>
