<template>
  <div id="anamneseOuAvaliacao">
    <message id="mainMessage" type="success" >
      <p>É importante manter a <span class="fw-bold">anamnese atualizada</span>, porque ajuda ter um conhecimento melhor sobre o aluno e na 
      preparação do seu treino. </p>
      <p>Você desejar realizar a anamnese <span class="fw-bold">antes</span> da avaliação física? </p>
      <div>
        <router-link :to="`/avaliacao/Cadastrar?alunoid=${this.$route.query.alunoid}&personalid=${personalId}`">
          <vbutton label="Não" variant="danger" />
        </router-link>
        <router-link :to="`/anamnese?alunoid=${this.$route.query.alunoid}`">
          <vbutton label="Sim" />
        </router-link>
      </div>
    </message>
  </div>
</template>

<script>
import vbutton from '../../components/VButton.vue'
import message from '../../components/VMessage.vue'
import cookies from 'js-cookie'

export default {
  name: 'anamneseOuAvaliacao',
  components: {vbutton, message, cookies},
  data() {
    return {
      personalId: cookies.getJSON('personalLogado').personalid
    }
  }
}
</script>

<style>

</style>
