<template>
    <div id="anamneses-cadastrar">
      <b-form @submit.prevent="validateBeforeSubmit">
        <vboxaluno :aluno="aluno" />
        <vbox title="Atividade Física">
          <vradiobutton label="Pratica atividade física?" validations="required" 
            name="Pratica atividade física" :options="options" v-model="form.anamnese.praticaatividadefisica" />
            <vcombobox label="Dorme quantas horas por dia?" validations="required" name="horasDormidas" v-model="form.anamnese.dormequantashoras">
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </vcombobox>
            <vradiobutton label="Essas horas são suficientes?" :options="options" name="horasSuficientes" validations="required" v-model="form.anamnese.horasdormidassuficientes"/>
        </vbox>
        <vbox title="Fuma?">
          <vradiobutton label="Fuma?" validations="required" v-model="form.anamnese.fuma"
            name="Fuma" :options="options" />
          <vinput label="Quantos cigarros por dia?" name="cigarros" validations="required" v-if="form.anamnese.fuma" 
            v-model="form.anamnese.quantoscigarrosfuma" />
          <vradiobutton label="Já fumou?" validations="required" v-model="form.anamnese.jaFumou"
            v-if="form.anamnese.fuma !== null && !form.anamnese.fuma"
            name="jaFumou" :options="options" />
          <vinput label="Quantos anos faz que parou?" name="jaFumou" validations="required" 
            v-if="!form.anamnese.fuma && form.anamnese.jaFumou" v-model="form.anamnese.quantosanosparou" />
        </vbox>
        <vbox title="Bebidas alcoólicas">
          <vradiobutton label="Bebe?" validations="required" v-model="form.anamnese.bebe"
            name="Bebe" :options="options" />
          <vradiobutton label="Com que frequência?" validations="required" v-model="form.anamnese.frequenciabebe"
            v-if="form.anamnese.bebe" name="jaBebe" :options="optionsBebe" />
        </vbox>
        <vbox title="Medicamentos">
          <vradiobutton label="Faz uso de algum medicamento?" validations="required" v-model="form.anamnese.fazusomedicamento"
            name="medicamentos" :options="options" />
          <vinput label="Quais?" v-if="form.anamnese.fazusomedicamento" name="medicamentos" v-model="form.anamnese.fazusoquaismedicamentos" />
        </vbox>
        <vbox title="Histórico de saúde">
          <vradiobutton label="Já foi diagnosticado com alguma doença?" validations="required" 
            name="Pratica atividade física" :options="options" v-model="form.anamnese.algumaDoenca" />
          <vcheckbox label="Qual(is) seria(m)?" :options="optionsHistoricoSaude" name="historicoSaude" v-if="form.anamnese.algumaDoenca" 
            v-model="form.anamnese.doencas"/>
        </vbox>
        <vbox title="Esportes">
          <vradiobutton label="Pratica algum esporte?" v-model="form.anamnese.praticaesportes" :options="options" />
          <vinput label="Qual?" validations="required" name="Pratica algum esporte?" v-if="form.anamnese.praticaesportes"
            v-model="form.anamnese.quaisesportes" />
        </vbox>
        <vbox title="Histórico de lesões">
          <vradiobutton label="Já teve alguma lesão?" validations="required" v-model="form.anamnese.jatevelesao"
            name="lesoes" :options="options" />
          <vcheckbox label="Qual(is)?" :options="optionsLesoes" v-if="form.anamnese.jatevelesao" v-model="form.anamnese.lesoes" />
        </vbox>
        <vbox title="Profissão">
          <vinput label="Qual sua profissão?" validations="required" name="profissao" v-model="form.anamnese.profissao"/>
          <vinput label="Trabalha quantas horas por dia?" validations="required" name="horasPorDia" v-model="form.anamnese.trabalhaquantashoras" />
        </vbox>
        <vbox title="Observações">
          <vtextarea label="Observações" validations="required" name="observacao" v-model="form.anamnese.observacoes"/>
        </vbox>
        <div>
					<vbutton label="Salvar" type="submit" :is-loading="form.isLoading" />
        </div>
      </b-form>
    </div>
</template>
<script>
import vnumber from '../../components/VNumber.vue'
import vtextarea from '../../components/VTextArea.vue'
import vcheckbox from '../../components/VCheckBox.vue'
import vinput from '../../components/VInput.vue'
import vbutton from '../../components/VButton.vue'
import vboxaluno from '../../components/VBoxAluno.vue'
import vbox from '../../components/VBox.vue'
import vradiobutton from '../../components/VRadioButton.vue'
import vcombobox from '../../components/VComboBox.vue'
import cookies from 'js-cookie'
import * as http from '../../resources/http-backend';

export default {
	name: 'adipometria-cadastrar',
	components: {vnumber, vbutton, vradiobutton, vcombobox, vinput, vtextarea, vcheckbox, vboxaluno, vbox},
	data () {
		return {
      aluno: Object,
			form: {
        isLoading: false,
				anamnese: {
          alunoid: this.$route.query.alunoid,
          personalid: cookies.getJSON('personalLogado').personalid,
          praticaatividadefisica: null,
          dormequantashoras: null,
          horasdormidassuficientes: null,
          fuma: null,
          quantoscigarrosfuma: null,
          jaFumou: null,
          quantosanosparou: null,
          bebe: null,
          frequenciabebe: null,
          jatevelesao: null,
          lesoes: [],
          medicamentos: null,
          fazusoquaismedicamentos: null,
          algumaDoenca: null,
          doencas: [],
          algumEsporte: null,
          profissao: '',
          trabalhaquantashoras: '',
          observacoes: ''
				}
      },
      options: [
        {text: 'Sim', value: true},
        {text: 'Não', value: false}
      ],
      optionsBebe: [
        {text: 'Diariamente', value: 1},
        {text: 'Raramente', value: 2},
        {text: 'Ocasionalmente', value: 3}
      ],
      optionsLesoes: [
        {text: 'Coluna', value: 1},
        {text: 'Costas', value: 2},
        {text: 'Cotovelo direito', value: 3},
        {text: 'Cotovelo esquerdo', value: 4},
        {text: 'Joelho direito', value: 5},
        {text: 'Joelho esquerdo', value: 6},
        {text: 'Ombro direito', value: 7},
        {text: 'Ombro esquerdo', value: 8},
        {text: 'Pescoço', value: 9},
        {text: 'Quadril', value: 10}
      ],
      optionsHistoricoSaude: [
        {text: 'Alteração de pressão', value: 1},
        {text: 'Anemia', value: 2},
        {text: 'Ansiedade', value: 3},
        {text: 'Colesterol', value: 4},
        {text: 'Depressão', value: 5},
        {text: 'Diabetes', value: 6},
        {text: 'Gastrite', value: 7},
        {text: 'Insônia', value: 8},
        {text: 'Stress', value: 9},
        {text: 'Tireóide', value: 10},
        {text: 'Tonturas', value: 11},
        {text: 'Taquicardia', value: 12}
      ]
		}
	},
	methods: {
		onSubmit (event) {
			var self = this;
			this.isLoading()
			http.post(`/personal/${this.personalid}/alunos/${this.alunoid}/anamnese/`, JSON.stringify(this.form.anamnese))
				.then(() => {
					self.$router.push({
						path: '/avaliacao/Cadastrar',
						query: {
							personalid: self.form.anamnese.personalid,
							alunoid: self.form.anamnese.alunoid
						}
					})
				}, () => {
					event.stopPropagation()
					self.isLoading(false)
				}
			);
		},
		isLoading(loading = true) {
      this.form.isLoading = loading;
    },
    validateBeforeSubmit(event) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.onSubmit(event)
          return;
        }
      });
    }
  },
  beforeMount() {
    var self = this
    http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.$route.query.alunoid}`)
      .then(resp => {
      self.aluno = resp.data
    }, err => {
      console.log(err)
    })
  }
}
</script>