<template>
  <div id="anamnese-container">
    <message id="mensagem-container" v-if="anamnese.alunoid === ''">
      <p>Ainda não foi cadastrado <span class="fw-bold">nenhuma anamnese</span> para esse aluno. </p>
      A anamnese é realizado durante sua <span class="fw-bold">avaliação</span>.
    </message>
    <div class="col-sm-12 col-md-12 col-xl-6 d-lg-full" v-if="anamnese.alunoid !== ''">
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Atividade física</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Pratica atividade física :</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.praticaatividadefisica)}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Horas dormidas por dia:</p>
                  </div>
                  <div class="align-items-end">{{anamnese.dormequantashoras}} h</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Essas horas são suficientes:</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.horasdormidassuficientes)}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Fuma</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Fuma:</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.fuma)}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="anamnese.fuma">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Quantidade por dia:</p>
                  </div>
                  <div class="align-items-end">{{anamnese.quantoscigarrosfuma}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="!anamnese.fuma">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Já fumou:</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.jaFumou)}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="anamnese.jaFumou">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Quantos anos faz que parou:</p>
                  </div>
                  <div class="align-items-end">{{anamnese.quantosanosparou}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Bebidas alcoólicas</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Bebe:</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.bebe)}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Frequência:</p>
                  </div>
                  <div class="align-items-end">{{converterFrequenciaBebe(anamnese.frequenciabebe)}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Medicamentos</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Faz uso de medicamentos:</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.fazusomedicamento)}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="anamnese.fazusomedicamento">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Quais:</p>
                  </div>
                  <div class="align-items-end">{{anamnese.fazusoquaismedicamentos}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Histórico de saúde</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Diagnosticado com alguma doença :</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.algumadoenca)}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="anamnese.algumadoenca">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Quais :</p>
                  </div>
                  <div class="align-items-end">
                    <span v-for="(doenca,index) in anamnese.doencas" :key="index">
                        {{converterDoencas(doenca)}}<span v-if="index+1 !=anamnese.doencas.length">,</span>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Esportes</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Pratica esportes :</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.praticaesportes)}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="anamnese.praticaesportes">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Qual(is) :</p>
                  </div>
                  <div class="align-items-end">{{anamnese.quaisesportes}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Histórico de lesões</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Já teve alguma lesão :</p>
                  </div>
                  <div class="align-items-end">{{converteBooleanToString(anamnese.jatevelesao)}}</div>
                </div>
              </li>
              <li class="list-group-item" v-if="anamnese.jatevelesao">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Qual(is) :</p>
                  </div>
                  <div class="align-items-end">
                    <span v-for="(lesao,index) in anamnese.lesoes" :key="index">
                        {{converterLesoes(lesao)}}<span v-if="index+1 !=anamnese.lesoes.length">,</span>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Profissão</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Profissão :</p>
                  </div>
                  <div class="align-items-end">{{anamnese.profissao}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">Trabalha quantas horas por dia :</p>
                  </div>
                  <div class="align-items-end">{{anamnese.trabalhaquantashoras}} h</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
       <div class="idb-block">
        <div class="idb-block-title">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-self-center">
              <h2>Observações</h2>
            </div>
          </div>
        </div>
        <div class="idb-block">
          <div class="timeline-wrap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div class="align-items-start">
                    <p class="m-0">{{anamnese.observacoes}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <b-button variant="btn btn-secondary" @click="$router.go(-1)">Voltar</b-button>
  </div>
</template>

<script>
import * as http from '../../resources/http-backend';
import message from '../../components/VMessage.vue'
export default {
  name: "anamnese-container",
  components: {message},
  data() {
    return {
      anamnese: self,
      personalId: this.$route.query.personalid,
      alunoId: this.$route.query.alunoid
    }
  },
  methods: {
    converteBooleanToString(value) {
      return value ? 'Sim' : 'Não'
    },
    converterFrequenciaBebe(frequencia) {
      switch (frequencia) {
        case 1:
          return 'Diariamente'
        case 2:
          return 'Raramente'
        case 3:
          return 'Ocasionalmente'
        default:
          return 'error';
      }
    },
    converterDoencas(doenca) {
      switch (doenca) {
        case 1:
          return 'Alteração de pressão'
        case 2:
          return 'Anemia'
        case 3:
          return 'Ansiedade'
        case 4:
          return 'Colesterol'
        case 5:
          return 'Depressão'
        case 6:
          return 'Diabetes'
        case 7:
          return 'Gastrite'
        case 8:
          return 'Insônia'
        case 9:
          return 'Stress'
        case 10:
          return 'Tireóide'
        case 11:
          return 'Tonturas'
        case 12:
          return 'Taquicardia'
        default:
          return 'error'
      }
    },
    converterLesoes(lesao) {
      switch (lesao) {
        case 1:
          return 'Coluna'
        case 2:
          return 'Costas'
        case 3:
          return 'Cotovelo direito'
        case 4:
          return 'Cotovelo esquerdo'
        case 5:
          return 'Joelho direito'
        case 6:
          return 'Joelho esquerdo'
        case 7:
          return 'Ombro direito'
        case 8:
          return 'Ombro esquerdo'
        case 9:
          return 'Pescoço'
        case 10:
          return 'Quadril'
        default:
          return 'error'
      }
    }
  },
  created() {
    var self = this
    http.get(`/personal/${this.personalId}/alunos/${this.alunoId}/anamnese/`)
      .then(resp => {
        self.anamnese = resp.data
      }, err => {
      console.log(err)
    })
  }
};
</script>