<template>
  <div id="avaliacao-cadastrar">
    <b-form @submit.prevent="validateBeforeSubmit">
      <vboxaluno :aluno="aluno" />
      <vbox title="Objetivo">
        <vinput id="objetivo" label="Objetivo" v-model="avaliacao.objetivo" 
          maxlength="60" validations="required|min:5"/>
      </vbox>
			<div>
				<vbutton label="Salvar" type="submit" :is-loading="form.isLoading" />
				<b-button variant="btn btn-secondary" @click="$router.go(-1)">Voltar</b-button>
			</div>
		</b-form>
	</div>
</template>
<script>
import * as http from '../../resources/http-backend';
import vinput from '../../components/VInput.vue'
import vbutton from '../../components/VButton.vue'
import vbox from '../../components/VBox.vue'
import vboxaluno from '../../components/VBoxAluno.vue'
import cookies from 'js-cookie'

export default {
	name: 'avaliacao-cadastrar',
	components: {vinput, vbutton, vbox, vboxaluno},
	data () {
		return {
			aluno: self,
			avaliacao: {
				alunoid: this.$route.query.alunoid,
				objetivo: ''
			},
			form: {
				isLoading: false
			}
		}
	},
	methods: {
		onSubmit (event) {
			this.avaliacao.alunoid = this.$route.query.alunoid
			this.isLoading()
			var self = this
			http.post(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.avaliacao.alunoid}/avaliacao/`, JSON.stringify(this.avaliacao))
				.then(response => {
					self.$router.push({
						path: '/perimetria/Cadastrar',
						query: {
							avaliacaoid: response.data,
							alunoid: self.avaliacao.alunoid
						}
					})
				}, () => {
					event.stopPropagation()
					self.isLoading(false)
				}
			);
		},
		validateBeforeSubmit(event) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.onSubmit(event)
            return;
          }
        });
		},
		isLoading(loading = true) {
      this.form.isLoading = loading;
    }
	},
	beforeMount() {
		var self = this
		http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.$route.query.alunoid}`)
			.then(resp => {
			self.aluno = resp.data
		}, err => {
			console.log(err)
		})
	}
}
</script>