<template>
    <div class="comparar-avaliacoes">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-3 d-lg-full">
                <div class="profile-sidebar idb-block">
                <div class="user-thumb text-center p-20">
                    <profile :aluno="aluno.aluno" />
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div class="align-items-start">
                                <p class="m-0">Objetivos :</p>
                            </div>
                            <div class="align-items-end">
                                | <span v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                    {{av.objetivo}} |
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="address-block p-20">
                    <address>
                        <span>
                            <i class="ti-user mr-15"></i>{{aluno.aluno.nome}}
                        </span>
                        <span>
                            <i class="ti-comments mr-15"></i>
                            <b-link :href="`mailto:${aluno.email}`">{{aluno.email}}</b-link>
                        </span>
                        <span>
                            <i class="ti-mobile mr-15"></i>
                            <phoneoutput :value="aluno.celular" class-css="mr-15" />
                            <b-link :href="`https://wa.me/55${aluno.celular}/?text=${defineWhatAppLink()}`" >
                                <i class="ti-new-window mr-15"></i>
                            </b-link>
                        </span>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6 d-lg-full">
            <div class="idb-block">
                <div class="timeline-wrap">
                    <div class="idb-block-content">
                        <div class="bar-charts">
                            <barcharts :avaliacoes="aluno.Avaliacoes" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6 d-lg-full">
            <div class="idb-block">
                <div class="idb-block-title">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-self-center">
                            <h2>Adipometria</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Data avaliação</th>
                                    <th v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vdataoutput :value="av.dataavaliacao" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Percentual gordura</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.percentualgordura" suffix="%" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Massa magra</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.massamagra" suffix="%" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Massa gorda</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.massagorda" suffix="kg" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Peso</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.peso" suffix="kg" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Subescapular</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.subescapular" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Triceps</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.triceps" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Peitoral</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.peitoral" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Axilar média</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.axilarmedia" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Abdominal</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.abdominal" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Femural médio</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.adipometria.femuralmedio" suffix="cm" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
          <div class="col-sm-12 col-md-12 col-xl-6 d-lg-full">
            <div class="idb-block">
                <div class="idb-block-title">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-self-center">
                            <h2>Perimetria</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Data avaliação</th>
                                    <th v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vdataoutput :value="av.dataavaliacao" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <th scope="row">Ombro</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.ombro" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Tronco</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.tronco" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Cintura</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.cintura" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Abdomên</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.abdomen" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Quadril</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.quadril" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Braço esquerdo</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.bracoesquerdo" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Braço direito</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.bracodireito" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Braço esquerdo contraído</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.bracoesquerdocontraido" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Braço direito contraído</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.bracodireitocontraido" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Antebraço direito</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.antebracodireito" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Antebraço esquerdo</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.antebracoesquerdo" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Coxa superior esquerda</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.coxasuperioresquerda" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Coxa superior direita</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.coxasuperiordireita" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Coxa medial esquerda</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.coxamedialesquerda" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Coxa medial direita</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.coxamedialdireita" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Panturillha direita</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.panturrilhadireita" suffix="cm" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Panturillha esquerda</th>
                                    <td v-for="(av, index) in aluno.Avaliacoes" :key="index">
                                        <vlabel :value="av.perimetria.panturrilhaesquerda" suffix="cm" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <b-button variant="btn btn-secondary" @click="$router.go(-1)">Voltar</b-button>
        </div>
    </div>
  </div>
</template>

<script>
import * as http from '../../resources/http-backend';
import profile from '../../components/VProfile.vue'
import vdataoutput from '../../components/VDataOutput.vue'
import phoneoutput from '../../components/VPhoneOutput.vue'
import vlabel from '../../components/VLabelCurrency.vue'
import barcharts from './BarChart'
export default {
  name: 'comparar-avaliacoes',
  components: {profile, vlabel, vdataoutput, phoneoutput, barcharts},
  data() {
    return {
      aluno: self,
      personalId: this.$route.query.personalid,
      alunoId: this.$route.query.alunoid
    }
  },
  methods: {
      defineWhatAppLink() {
          return `Veja%20sua%20avalia%C3%A7%C3%A3o%20em%2020http://joinpersonal.com.br/?%23/alunos/Detalhar?alunoid%3D${this.alunoId}%26personalid%3D${this.personalId}`
      }
  },
  beforeMount () {
    var self = this
    http.get(`/personal/${this.personalId}/alunos/${this.alunoId}/avaliacao/comparacao`)
      .then(function (response) {
        self.aluno = response.data
    }).catch(function (err) {
      console.log(err)
    })
  }
}
</script>
