.baixou-medida {
    background-color: #b94947;
}

.aumentou-medida {
  background-color: #5f9744;
}

.manteve-medida {
  background-color: #999;
}

.changeBadge {
  display: inline-block;
  color: #fffdfa;
  margin: 5px;
  text-align: center;
}