<template>
  <div :id="'profile-div'">
    <b-form @submit.prevent="validateBeforeSubmit">
      <div class="col-sm-12 col-md-12 col-xl-3 d-lg-full">
        <div class="profile-sidebar idb-block">
          <div class="idb-block-title">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-self-center">
                <h2>Informações</h2>
              </div>
            </div>
          </div>
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="user-thumb text-center p-20">
                  <div class="user-thumb mb-20 pos-relative d-inline-block">
                    <avatar :value="personal" path="perfil" width="110" height="110" />
                  </div>
                  <div class="mb-10">
                    <h3 class="mb-0">{{personal.nome}}</h3>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <b-card-group deck>
                  <b-card bg-variant="default" class="mb-30" header="Contatos" header-tag="header" footer-tag="footer">
                    <vinput id="celular" label="Celular" placeholder="DDD + Número"
                      v-model="personal.celular" type="tel" validations="required|min:11" maxlength="11" />
                    <div class="mb-10">
                      <b-form-group id="descrição" label="Formação">
                        <wysiwyg v-model="personal.formacao" name="formacao" data-vv-as="Formação" maxlength="256" v-validate="'required|min:10'" />
                        <span style="color:red">{{ errors.first('formacao') }}</span>
                      </b-form-group>
                    </div>
                  </b-card>
                </b-card-group>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <vbutton label="Salvar" type="submit" :is-loading="form.isLoading"/>
          <b-button variant="btn btn-secondary" @click="$router.go(-1)">Cancelar</b-button>
        </div>
      </div>
    </b-form>
  </div>
</template>
<script>
import * as http from "../../resources/http-backend";
import avatar from "../../components/VAvatar.vue";
import vlabel from "../../components/VLabelCurrency.vue";
import cookies from "js-cookie";
import phoneoutput from "../../components/VPhoneOutput.vue";
import vbutton from "../../components/VButton.vue";
import vinput from "../../components/VInput.vue";

export default {
  name: "profile-div",
  components: {avatar, vlabel, phoneoutput, vinput, vbutton},
  data() {
    return {
      personal: Object,
      form: {
        isLoading: false
      }
    };
  },
  methods: {
    onSubmit(event) {
      this.isLoading();
      var self = this;
      http.put(`/personal/${cookies.getJSON("personalLogado").personalid}/perfil`, JSON.stringify(this.personal))
        .then(response => {
          self.$router.push("/personal/perfil");
        }, err => {
          console.log(err)
          self.isLoading(false)
      })
    },
    validateBeforeSubmit(event) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.onSubmit(event);
        }
      });
    },
    isLoading(loading = true) {
      this.form.isLoading = loading;
    }
  },
  beforeMount() {
    var self = this;
    http.get(`/personal/${cookies.getJSON("personalLogado").personalid}/perfil`)
      .then(resp => {
        self.personal = resp.data
      }, err => {
        console.log(err)
    })
  }
}
</script>