<template>
    <div :id="'profile-div'">
        <div class="col-sm-12 col-md-12 col-xl-3 d-lg-full">
            <div class="profile-sidebar idb-block">
                <div class="idb-block-title">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-self-center">
                            <h2>Informações</h2>
                        </div>
                        <div class="d-flex align-self-center idb-contextual-link">
                            <b-dropdown variant="link" class="no-caret-icon">
                            <template slot="button-content">
                                <i class="ti-more-alt"></i>
                            </template>
                            <b-dropdown-item>
                                <i class="ti-pencil"></i> 
                                    <router-link to="/personal/editar">
                                        Editar
                                    </router-link>
                                </b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="user-thumb text-center p-20">
                                <div class="user-thumb mb-20 pos-relative d-inline-block">
                                    <avatar :value="personal" path="perfil" width="110" height="110" />
                                </div>
                                <div class="mb-10">
                                    <h3 class="mb-0">{{personal.nome}}</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="address-block p-10">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="ti-mobile mr-15"></i>
                                <phoneoutput :value="personal.celular" class-css="mr-15" />
                                <div class="mb-10">
                                    <i class="ti-info-alt mr-15"></i>
                                    <div v-html="personal.formacao"> </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import avatar from '../../components/VAvatar.vue'
import vlabel from '../../components/VLabelCurrency.vue'
import cookies from 'js-cookie'
import phoneoutput from '../../components/VPhoneOutput.vue'

export default {
  name: 'profile-div',
  components: {avatar, vlabel, phoneoutput},
  data () {
    return {
      personal: self
    }
  },
  beforeCreate () {
    var self = this
    http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/perfil`)
      .then(function (response) {
      self.personal = response.data
    }).catch(function (err) {
      console.log(err)
    })
  }
}
</script>

