<template>
    <img :src="defineImagem(value)" :class="`${classCss} img-fluid rounded-circle`" :width="width" :height="height"
    v-on="$listeners">
</template>
<script>
import * as constants from '../js/constants/urls'
export default {
  props: ['value', 'path', 'width', 'height', 'classCss'],
  data () {
    return {
    }
  },
  methods: {
    defineImagem(pessoa) {
      if (pessoa === undefined) {
        return
      }

      var pastaImagens = '/static/img/'
      if (pessoa.foto) {
        return `${constants.BUCKET_FILES_FOLDER}/${this.defaultFolder}/${pessoa.foto}`
      } else if (pessoa.sexo === 'Feminino') {
        return pastaImagens + 'avatar-mulher.jpg'
      } else {
        return pastaImagens + 'avatar-homem.jpg'
      }
    }
  },
  computed: {
    defaultFolder() {
      return this.path === undefined ? 'alunos' : this.path
    }
  }
}
</script>

