<template>
    <div class="badge-style">
        <b-badge :variant="defineBadge(value)">{{value}}</b-badge>
    </div>
</template>
<script>
export default {
    props: ['value'],
    data () {
        return {
        }
    },
    methods: {
        defineBadge(value) {
            switch (value) {
                case `Excelente`:
                    return 'success'
                case `Bom`:
                    return 'success'
                case `Acima da média`:
                    return 'success'
                case `Média`:
                    return 'warning'
                case `Abaixo da média`:
                    return 'warning'
                case `Ruim`:
                    return 'danger'
                case `Muito Ruim`:
                    return 'danger'
                default:
                    'danger'
                    break;
            }
        }
    }
}
</script>

