<template>
  <div class="card-block">
    <b-card-group deck>
      <b-card :class="`${classCss} mb-30`" :header="`${title}`">
        <div class="p-10">
          <slot></slot>
        </div>
      </b-card>
    </b-card-group>
  </div>    
</template>

<script>
export default {
  props: ['title', 'classCss']
}
</script>