<template>
  <div>
    <vbox title="Dados do aluno">
      <address>
        <span><i class="ti-user mr-15"></i>{{aluno.nome}}</span>
        <span><i class="ti-comments mr-15"></i>{{aluno.sexo}}</span>
        <span><i class="ti-mobile mr-15"></i>{{aluno.idade}} anos</span>
      </address>
    </vbox>
  </div>
</template>

<script>
import vbox from "./VBox.vue";

export default {
  props: ['aluno'],
  components: { vbox }
}
</script>

<style>
</style>
