<template>
  <b-button
    :id="`${id}-btn-loading`"
    :type="type"
    :variant="typeCssClass"
    :disabled="isLoading"
    v-on="$listeners">
    <img src="/static/img/Ellipsis-2.1s-104px.svg" v-if="isLoading" />
    <span>{{label}}</span>
  </b-button>
</template>
<script>
export default {
  props: ["id", "label", "variant", "type", "isLoading"],
  computed: {
    typeCssClass() {
      return this.variant === undefined ? "success" : this.variant;
    }
  }
};
</script>