<template>
  <div :id="`chkbox${id}`">
    <b-form-group :label="label">
      <b-form-checkbox-group v-model="value" :options="options" 
        :name="label" class="checkbox-class-groups"
        :data-vv-as="label"
        @input="setValue(value)" @change="setValue(value)"
        v-validate="validations" />
    </b-form-group>
    <span style="color:red">{{ errors.first(label) }}</span>
  </div>
</template>

<script>
export default {
  props: ['id', 'label', 'name', 'options', 'validations'],
  data() {
    return {
      value: null
    }
  },
  methods: {
    setValue(textValue) {
        this.$emit('input', textValue);
    }
  },
  created () {
    this.$validator = this.$parent.$validator
  }
}
</script>
<style>
.checkbox-class-groups label span span {
  margin: 10px;
    
}
.checkbox-class-groups label {
    width: 100%
}
</style>
