<template>
    <span :class="`text-white font-weight-bold ${retornaCor(numero1, numero2)} changeBadge`">
        <i :class="`fa ${retornaSinal(numero1, numero2)} `"></i>
        <span><vlabel :id="`${id}-numero-1`" :value="numero1" /> | <vlabel :id="`${id}-numero-2`" :value="numero2"/></span>
    </span> 
</template>
<script>
import vlabel from './VLabelCurrency.vue'
export default {
    props: ['id', 'numero1', 'numero2', 'classCss', 'suffix'],
    components: {vlabel},
    data() {
        return {
        }
    },
    methods: {
        retornaSinal(numero1, numero2) {
            if (numero1 === numero2) {
                return 'fa-minus'
            } else if (numero1 < numero2) {
                return 'fa-arrow-up'
            } else {
                return 'fa-arrow-down'
            }
        },
        retornaCor(numero1, numero2) {
            if (numero1 === numero2) {
                return 'manteve-medida'
            } else if (numero1 < numero2) {
                return 'aumentou-medida'
            } else {
                return 'baixou-medida'
            }
        }
    }
}
</script>

