<template>
  <div :id="`cmbbtn${id}`">
    <label v-if="label">{{label}}</label>
    <b-form-select v-model="value" class="mb-3 hide-select"
      :name="name"
      :data-vv-as="name"
      @input="setValue(value)" @change="setValue(value)"
      v-validate="validations">
      <template slot="first">
        <option :value="null" disabled>Escolha uma opção</option>
      </template>
      <slot></slot>
    </b-form-select>
    <span style="color:red">{{ errors.first(name) }}</span>
  </div>
</template>

<script>
export default {
  props: ['id', 'label', 'name', 'validations'],
  data() {
    return {
      value: null
    }
  },
  methods: {
    setValue(textValue) {
        this.$emit('input', textValue);
    }
  },
  created () {
    this.$validator = this.$parent.$validator
  }
}
</script>