<template>
  <div>
    <label v-if="label">{{label}}</label>
    <b-form-group :id="id + 'InputGroup'">
        <b-form-input :id="id" :class="`${cssClass} custom-field form-control-lg`" type="date" v-model="value" 
            @input="setDate(value)" />
    </b-form-group>
  </div>
</template>
<script>
export default {
    props: ['id', 'label', 'cssClass'],
    data() {
        return {
            value: ''
        }
    },
    methods: {
        setDate(date) {
            this.$emit('input', date)
        }
    }
}
</script>