<template>
    <span :class="cssClass">{{frontEndDateFormat(value)}}</span>
</template>
<script>
import moment from 'moment'
export default {
  props: ['cssClass', 'value'],
  methods: {
    frontEndDateFormat(date) {
        date = date.replace("Z", "")
        return moment(date).format('DD/MM/YYYY');
    }
  }
}
</script>

