<template>
    <b-form-group :id="`${id}InputGroup`" :label="label" :label-for="id">
        <b-form-input :id="id" v-model="value" :class="`${classCss} custom-field form-control-lg`"
            v-validate="`${this.validations}|email`" :name="label"
            :placeholder="placeholder" @input="setEmail(value)" @change="setEmail(value)" />
            <span style="color:red">{{ errors.first(label) }}</span>
    </b-form-group>	
</template>

<script>
export default {
    props: ['id', 'label', 'classCss', 'placeholder', 'validations'],
    data () {
        return {
            value: ''
        }
    },
    methods: {
        setEmail(emailValue) {
            this.$emit('input', emailValue);
        }
    },
    created () {
      this.$validator = this.$parent.$validator
    }
}
</script>