<template>
  <b-form-group :id="`${id}InputGroup`" :label="label" :label-for="id">
    <b-form-input v-model="value" :id="id" :class="`${classCss} custom-field form-control-lg`"
      :type="type" :name="label"
      :data-vv-as="label"
      v-validate="validations"
      :maxlength="maxlength"
      :placeholder="placeholder" @input="setText(value)" @change="setText(value)" />
    <span style="color:red">{{ errors.first(label) }}</span>
  </b-form-group>	
</template>

<script>
export default {
  props: ['id', 'label', 'type', 'classCss', 'placeholder', 'maxlength', 'validations'],
  data () {
      return {
        value: ''
      }
  },
  methods: {
    setText(textValue) {
        this.$emit('input', textValue);
    }
  },
  created () {
    this.$validator = this.$parent.$validator
  }
}
</script>