<template>
    <label :id="`${id}-currency`" :class="classCss">{{formatarDinheiro(value)}} {{suffix}}</label>
</template>
<script>
export default {
    props: ['id', 'value', 'classCss', 'suffix'],
    data () {
        return {

        }
    },
    methods: {
        formatarDinheiro(valor) {
            var numeral = require('numeral');
            return numeral(valor).format('0.0[0]').replace('.', ',')
        }
    }
}
</script>

