<template>
  <p :id="id" :class="`box ${typeCssClass}`">
    <slot></slot>
  </p>
</template>
<script>
export default {
  props: {
    id: String,
    message: String,
    type: { type: String, default: "success" }
  },
  data() {
    return {};
  },
  computed: {
    typeCssClass() {
      return this.type === undefined ? "success" : this.type;
    }
  }
};
</script>
<style>
p.success {
  border-left-color: #42b983;
}

p.alert {
  border-left-color: #f66;
}

p.box {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

p.alert:before {
  content: "X";
  background-color: #f66;
}

p.success:before {
  content: "\f00c";
  font-family: FontAwesome;
  background-color: #42b983;
}
p:before {
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}
</style>
