<template>
  <div v-if="show">
    <b-card
      title="Versão 2.0 do sistema"
      img-src="/static/img/notificationImage.jpg"
      img-alt="Versão 2.0 do sistema"
      img-top
      tag="article"
      class="mb-20"
    >
      <b-card-text>O sistema foi atualizado para uma versão mais nova. Caso seja encontrado algum mal funcionamento, por favor entre em contato.</b-card-text>
      <div class="text-center">
        <b-button variant="success" @click="markNotificationAsRead()">OK</b-button>
      </div>
    </b-card>
  </div>
</template>

<script>
import cookies from 'js-cookie'
export default {
  data() {
    return {
      show: true
    }
  },
  methods: {
    markNotificationAsRead() {
      cookies.set('showNotification', false)
      this.show = false
    }
  },
  created() {
    let notificationRead = cookies.get('showNotification')
    this.show = notificationRead === undefined
  }
};
</script>