<template>
  <div>
    <label v-if="label">{{label}}</label>
    <b-form-group :id="`${id}InputGroup`">
      <Money v-model="value" :name="label" v-bind="money" :class="`${cssClass} custom-field form-control-lg form-control`"
        :placeholder="placeholder"
        :data-vv-as="label"
        @input="setNumber(value)" @change="setNumber(value)"
        v-validate="validations"
        :maxlength="maxlength" />
        <span style="color:red">{{ errors.first(label) }}</span>
      </b-form-group>
  </div>
</template>

<script>
import {Money} from 'v-money'

export default {
    components: {Money},
    props: ['id', 'label', 'cssClass', 'placeholder', 'maxlength', 'validations'],
    data () {
        return {
            value: "",
            money: {
                decimal: ',',
                thousands: '.',
                precision: 2,
                masked: false
            }
        }
    },
    methods: {
      setNumber(numberValue) {
        this.$emit('input', Number(numberValue));
      }
    },
    created () {
      this.$validator = this.$parent.$validator
    }
}
</script>