<template>
    <b-link :href="`tel:${value}`">
        <label :id="`${id}-phone`" :class="classCss">{{phoneFormat(value)}} {{suffix}}</label>
    </b-link>
</template>
<script>
export default {
    props: ['id', 'value', 'classCss', 'suffix'],
    data () {
        return {

        }
    },
    methods: {
        phoneFormat(phoneNumber) {
            return phoneNumber.replace(/[^0-9]/g, '')
                .replace(/(\d{2})(\d{1})(\d{4})(\d{3})/, '($1) $2-$3-$4');
        }
    }
}
</script>

