<template v-if="aluno">
  <div id="profile-div">
    <div class="idb-block-content">
      <div id="tooltip-upload-foto" class="user-thumb mb-20 pos-relative d-inline-block">
        <div v-if="this.file === ''">
          <avatar :value="aluno" width="110" height="110" @click="show = !show" />
        </div>
        <div v-else>
          <cropper ref="cropper" :src="url"
            drag-mode="crop" :auto-crop-area="0.5"
            :guides="true"
            :view-mode="1"
            :crop-box-resizable="true"
            :min-container-width="250"
            :aspectRatio="1 / 1"
            :min-container-height="250">
          </cropper>
        </div>
      </div>
      <b-tooltip v-if="showUpload" ref="tooltip" target="tooltip-upload-foto" title="Clique na foto para atualizar a foto do aluno." />
      <transition name="fade">
        <vmessage v-if="mensagemUpload">
          Foto atualizada.
        </vmessage>
      </transition>
      <transition name="fade">
        <b-container fluid class="mb-15" v-if="showUpload && show">
          <b-form @submit.prevent="validateBeforeSubmit" >
            <b-row class="justify-content-md-center">
              <b-col>
                <b-form-file v-model="file" id="file" name="file" ref="file" :state="Boolean(file)"
                  placeholder="Escolha a foto" accept=".jpg, .png"
                  class="mb-10"
                  :disabled="uploadComponentDisabled"
                  v-on:change="handleFileUpload"/>
              </b-col>
              <b-col sm="0">
                <b-button type="submit" class="mr-10" variant="success" :disabled="uploadComponentDisabled">Salvar</b-button>
                <vbutton label="Cancelar" variant="secondary" @click="hidePreviewPhoto"/>
              </b-col>
            </b-row>
          </b-form>
        </b-container>
      </transition>
      <div class="mb-10">
        <h3 class="mb-0">{{aluno.nome}}</h3>
        <small>Idade: {{aluno.idade}} | Altura: <vlabel :value="aluno.altura" suffix="m" /></small>
      </div>
      <div class="mb-20">
        <small>
          <span class="icon-style">
            <i class="material-icons">cake</i>
          </span> 
          <span style="top:-10px"><dataoutput :value="aluno.datanascimento" /></span>
        </small>
      </div>
    </div>
  </div>
</template>
<script>
import cropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import axios from 'axios';
import avatar from './VAvatar.vue'
import vbutton from './VButton.vue'
import dataoutput from './VDataOutput.vue'
import vlabel from './VLabelCurrency.vue'
import vmessage from './VMessage.vue'
export default {
  name: 'profile-div',
  components: {avatar, dataoutput, vlabel, vmessage, cropper, vbutton},
  props: ['id', 'aluno', 'showUpload'],
  data () {
    return {
      file: '',
      url: '',
      personalId: this.$route.query.personalid,
      alunoId: this.$route.query.alunoid,
      show: false,
      mensagemUpload: false,
      uploadComponentDisabled: false
    }
  },
  methods: {
    validateBeforeSubmit() {
      var fileName = this.file.name
      this.hidePreviewPhoto()
      this.aluno.foto = 'loading.gif'
      this.uploadComponentDisabled = true
      var self = this
      this.$refs.cropper.getCroppedCanvas().toBlob(function (blob) {
        let formData = new FormData()
        formData.append("file", blob, fileName)
        axios.post(`${process.env.BACKEND_URL}:8089/personal/${self.personalId}/alunos/${self.alunoId}/upload`, formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(() => {
          self.uploadComSucesso(fileName)
        }, () => {
          self.uploadComponentDisabled = false
          console.log('FAILURE!!');
        });
      }, "image/jpeg", 0.75)
    },
    handleFileUpload(e) {
      this.file = event.target.files[0]
      this.url = URL.createObjectURL(this.file)
      if (this.$refs.cropper !== undefined) {
        this.$refs.cropper.replace(this.url);
      }
    },
    hideUploadMessage() {
      setTimeout(() => {
            this.mensagemUpload = false
        }, 3000);
    },
    uploadComSucesso(fileName) {
      this.aluno.foto = fileName
      this.show = false
      this.mensagemUpload = true
      this.uploadComponentDisabled = false
      this.hideUploadMessage()
    },
    hidePreviewPhoto() {
      this.file = ''
      this.show = false
    }
  }
}
</script>
<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#file__BV_file_control_::before {
    content: "Arquivo";
}
</style>
