<template>
  <div :id="`rdbtn${id}`">
    <label v-if="label">{{label}}</label>
    <b-form-radio-group v-model="value" :options="options"
      :name="label"
      :data-vv-as="label"
      @input="setValue(value)" @change="setValue(value)"
      v-validate="validations" />
    <span style="color:red">{{ errors.first(label) }}</span>
  </div>
</template>
<script>
export default {
  props: ['id', 'name', 'label', 'options', 'validations'],
  data() {
    return {
      value: ''
    }
  },
  methods: {
    setValue(textValue) {
        this.$emit('input', textValue);
    }
  },
  created () {
    this.$validator = this.$parent.$validator
  }
}
</script>