<template>
  <div :id="`txtarea${id}`">
    <label v-if="label">{{label}}</label>
    <b-form-textarea id="textarea1" v-model="value"
      :placeholder="placeholder"
      @input="setValue(value)" @change="setValue(value)"
      rows="3"
      max-rows="6"
      :name="label"
      :data-vv-as="label"
      v-validate="validations" />
    <span style="color:red">{{ errors.first(label) }}</span>
  </div>
</template>
<script>
export default {
  props: ['id', 'name', 'label', 'placeholder', 'validations'],
  data() {
    return {
      value: ''
    }
  },
  methods: {
    setValue(textValue) {
        this.$emit('input', textValue);
    }
  },
  created () {
    this.$validator = this.$parent.$validator
  }
}
</script>