<template>
  <div id="adipometria-cadastrar">
    <b-form @submit.prevent="validateBeforeSubmit">
      <vboxaluno :aluno="form.aluno" />
      <vnumber id="peso" label="Peso" v-model="form.adipometria.peso" validations="min_value:0.01"/>
      <vbox title="Cálculo das 7 dobras">
        <vnumber id="subescapular" label="Subescapular" v-model="form.adipometria.subescapular" validations="min_value:0.01"/>
        <vnumber id="triceps" label="Triceps" v-model="form.adipometria.triceps" validations="min_value:0.01"/>
        <vnumber id="peitoral" label="Peitoral" v-model="form.adipometria.peitoral" validations="min_value:0.01"/>
        <vnumber id="axilarMedia" label="Axilar média" v-model="form.adipometria.axilarmedia" validations="min_value:0.01"/>
        <vnumber id="suprailica" label="Supra ilíaca" v-model="form.adipometria.suprailica" validations="min_value:0.01"/>
        <vnumber id="abdominal" label="Abdominal" v-model="form.adipometria.abdominal" validations="min_value:0.01"/>
        <vnumber id="femuralmedio" label="Femural Médio" v-model="form.adipometria.femuralmedio" validations="min_value:0.01"/>
      </vbox>
      <div>
        <vbutton label="Finalizar" type="submit" :is-loading="form.isLoading" />
      </div>
    </b-form>
  </div>
</template>
<script>
import vnumber from '../../components/VNumber.vue'
import vbutton from '../../components/VButton.vue'
import vbox from '../../components/VBox.vue'
import vboxaluno from '../../components/VBoxAluno.vue'
import cookies from 'js-cookie'
import * as http from '../../resources/http-backend';

export default {
	name: 'adipometria-cadastrar',
	components: {vnumber, vbutton, vbox, vboxaluno},
	data () {
		return {
			alunoid: this.$route.query.alunoid,
			personalid: cookies.getJSON('personalLogado').personalid,
			form: {
				aluno: Object,
				adipometria: {
					avaliacaoid: this.$route.query.avaliacaoid,
					massacorporal: 0,
					peso: 0,
					subescapular: 0,
					triceps: 0,
					peitoral: 0,
					axilarmedia: 0,
					suprailica: 0,
					abdominal: 0,
					femuralmedio: 0,
					totalDobras: 0,
					percentualgordura: 0,
					massagorda: 0,
					massamagra: 0,
					densidadecorporal: 0
				},
				isLoading: false
			}
		}
	},
	methods: {
		onSubmit (event) {
			var self = this;
			this.isLoading()
			http.post(`/personal/${this.personalid}/alunos/${this.alunoid}/adipometria/`, JSON.stringify(this.form))
				.then(() => {
					self.$router.push({
						path: '/alunos/Detalhar',
						query: {
							personalid: self.personalid,
							alunoid: self.alunoid
						}
					})
				}, () => {
					event.stopPropagation()
					self.isLoading(false)
				}
			);
		},
		isLoading(loading = true) {
      this.form.isLoading = loading;
    },
    validateBeforeSubmit(event) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.onSubmit(event)
          return;
        }
      });
    }
  },
	beforeMount() {
		var self = this
		http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.$route.query.alunoid}`)
			.then(resp => {
			self.form.aluno = resp.data
		}, err => {
			console.log(err)
		})
  }
}
</script>