<template>
  <div id="perimetria-cadastrar">
    <b-form>
      <vboxaluno :aluno="aluno" />
      <vbox title="Medidas">
        <vnumber id="ombro" label="Ombro" v-model="perimetria.ombro" />
        <vnumber id="abdomen" label="Abdômen" v-model="perimetria.abdomen" />
        <vnumber id="tronco" label="Tronco" v-model="perimetria.tronco" />
        <vnumber id="cintura" label="Cintura" v-model="perimetria.cintura" />
        <vnumber id="quadril" label="Quadril" v-model="perimetria.quadril" />
      </vbox>
      <vbox title="Membros superiores">
        <vnumber id="bracoEsquerdo" label="Braço esquerdo" v-model="perimetria.bracoesquerdo" />
        <vnumber id="bracoDireito" label="Braço direito" v-model="perimetria.bracoDireito" />
        <vnumber id="bracoEsquerdoContraido" label="Braço esquerdo contraído" v-model="perimetria.bracoEsquerdoContraido" />
        <vnumber id="bracoDireitoContraido" label="Braço direito contraído" v-model="perimetria.bracoDireitoContraido" />

        <vnumber id="antebracoDireito" label="Antebraço direito" v-model="perimetria.antebracoDireito" />
        <vnumber id="antebracoEsquerdo" label="Antebraço esquerdo" v-model="perimetria.antebracoEsquerdo" />
      </vbox>
      <vbox title="Membros inferiores">
        <vnumber id="coxaSuperiorEsquerda" label="Coxa superior esquerda" v-model="perimetria.coxaSuperiorEsquerda" />
        <vnumber id="coxaSuperiorDireita" label="Coxa superior direita" v-model="perimetria.coxaSuperiorDireita" />
        <vnumber id="coxaMedialEsquerda" label="Coxa média esquerda" v-model="perimetria.coxaMedialEsquerda" />
        <vnumber id="coxaMedialDireita" label="Coxa média direita" v-model="perimetria.coxaMedialDireita" />
        <vnumber id="panturrilhaDireita" label="Panturrilha direita" v-model="perimetria.panturrilhaDireita" />
        <vnumber id="panturrilhaEsquerda" label="Panturrilha esquerda" v-model="perimetria.panturrilhaEsquerda" />
      </vbox>
			<div>
				<b-button variant="btn btn-success" @click="onSubmit">Salvar</b-button>
      </div>
    </b-form>
  </div>
</template>
<script>
import * as http from '../../resources/http-backend';
import vnumber from '../../components/VNumber.vue'
import vbox from '../../components/VBox.vue'
import vboxaluno from '../../components/VBoxAluno.vue'
import cookies from 'js-cookie'
export default {
	name: 'perimetria-cadastrar',
	components: {vnumber, vbox, vboxaluno},
	data () {
		return {
			aluno: self,
			perimetria: {
				avaliacaoid: this.$route.query.avaliacaoid,
				tronco: 0,
				cintura: 0,
				abdomen: 0,
				quadril: 0,
				bracoesquerdo: 0,
				bracoDireito: 0,
				bracoEsquerdoContraido: 0,
				bracoDireitoContraido: 0,
				antebracoEsquerdo: 0,
				antebracoDireito: 0,
				coxaSuperiorEsquerda: 0,
				coxaSuperiorDireita: 0,
				coxaMedialEsquerda: 0,
				coxaMedialDireita: 0,
				panturrilhaDireita: 0,
				panturrilhaEsquerda: 0
			}
		}
	},
	methods: {
		onSubmit (event) {
			this.perimetria.avaliacaoid = this.$route.query.avaliacaoid
			var self = this
			http.post(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.$route.query.alunoid}/perimetria/`, JSON.stringify(this.perimetria))
				.then(resp => {
					self.$router.push({
						path: '/adipometria/Cadastrar',
						query: {
							avaliacaoid: self.perimetria.avaliacaoid,
							alunoid: self.$route.query.alunoid
						}
					})
				}, () => {
					event.stopPropagation()
				}
			);
		}
	},
	beforeMount() {
		var self = this
		http.get(`/personal/${cookies.getJSON('personalLogado').personalid}/alunos/${this.$route.query.alunoid}`)
			.then(resp => {
			self.aluno = resp.data
		}, err => {
			console.log(err)
		})
	}
}
</script>