<template>
  <div class="col-sm-12 col-md-12 col-xl-6 d-lg-full">
    <div class="idb-block">
      <div v-if="title" class="idb-block-title">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-self-center">
            <h2>{{title}}</h2>
          </div>
        </div>
      </div>
      <div class="idb-block">
        <div class="idb-block-content">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["title"]
}
</script>