/*========== Common CSS ============*/
html {
  font-size: $html-font-size;
}
@media (max-width:1366px) {
  html {
    font-size: $html-font-size - 1;
  }
}
@media (max-width:1280px) {
  html {
    font-size: $html-font-size - 1;
  }
}
@media (max-width:991px) {
  html {
    font-size: $html-font-size - 2;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
[tabindex='-1']:focus {
  outline: none;
}
select,
button,
textarea,
input {
  vertical-align: baseline;
}
html,
body {
  &[dir=rtl],
  &[dir=ltr] {
    unicode-bidi: embed
  }
}
bdo[dir=rtl] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
bdo[dir=ltr] {
  direction: ltr;
  unicode-bidi: bidi-override;
}
a{
  cursor: pointer;
  outline: none;
  &:hover{
      cursor: pointer;
  }
}
code {
  color: $code-color !important;
}
input,
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1rem;
  color: inherit;
}
.pos-relative {
  position: relative;
}
sup {
  top: -0.9em;
}
.no-caret-icon {
  > .dropdown-toggle::after {
    border: none;
  }
}
.border-rad-lg {
  border-radius: 0.625rem !important;
}
.text-line-h {
  line-height: 1.5;
}
.idb-position-absolute {
  position: absolute;
  bottom: 0;
  padding: 1.875rem; //30px
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 100%);
  color: $white;
}
.overflow-hide {
  overflow: hidden;
}
.black-tp-layer, .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  .card-text {
    * {
      color: $white;
    }
  }
}
.badge:empty {
  display: inline-block;
}
.overlay-wrap {
  position: relative;
}
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
address {
  span {
    display: block;
  }
}
.pos-center {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.center-holder {
  display: inline-block;
  height: auto;
  padding: 1.25rem;
  vertical-align: middle;
  width: 90%;
}
/*========== Tour ===========*/
.tour-tip {
  z-index: 9999;
  .tour-content-wrapper {
    background-color: $blue;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.5);
    min-width: 18.75rem; //300px;
    border-radius: 3px;
    p {
      color: $gray-900;
      font-size: 1rem; //16px;
    }
    .tour-next-tip {
      @extend .btn-danger;
      border-radius: 3px;
      font-weight: normal;
    }
  }
  .tt-bottom {
    border-color: transparent transparent $blue!important;
  }
  .tour-arrow {
    left: 125px;
  }
}
