/*=========== Form ========*/
.custom-checkbox {
    .custom-control-indicator {
        border-radius: 0;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;
        border: 1px solid $input-border-color;
    }
}
.custom-search {
	input[type="text"] {
		border: none;
		border-bottom: 1px solid $input-border-color;
		box-shadow: none;
		&:focus {
			box-shadow: none;
		}
	}
	.input-group-btn {
		.btn {
			background-color: transparent;
			border: none;
			box-shadow: none;
			border-bottom: 1px solid $input-border-color;
			cursor: pointer;
		}
	}
}