<template>
  <div class="col-md-6 col-lg-6 col-xl-3 b-50">
    <div class="idb-block mb-30 dash-card">
      <div class="idb-block-content">
        <div class="d-flex justify-content-between mb-20">
          <h5 class="m-0">Relatório por sexo</h5>
        </div>
        <div class="timeline-wrap">
          <div class="pie-chart" v-if="this.isRenderGrafico()">
            <piecharts 
              :Feminino="this.relatorio.feminino"
              :Masculino="this.relatorio.masculino" />
          </div>
          <div v-else>
            Não existem alunos cadastrados ainda.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import piecharts from './RelatorioPorSexoPieChart'
import cookies from 'js-cookie'
import * as http from '../../resources/http-backend';

export default {
  components: {piecharts},
  data() {
    return {
      relatorio: ''
    }
  },
  methods: {
    getPersonalId() {
      return cookies.getJSON('personalLogado').personalid
    },
    isRenderGrafico() {
      return !(this.checkUndefined(this.relatorio.masculino) ||
        this.checkUndefined(this.relatorio.feminino))
    },
    checkUndefined(value) {
      return value === undefined
    }
  },
  beforeMount() {
    var self = this
    http.get(`/personal/${this.getPersonalId()}/relatorios/porsexo`)
      .then(response => {
          self.relatorio = response.data
      }, err => {
        console.log(err)
      })
  }
}
</script>

